@charset "UTF-8";
.button {
  display: inline-block;
  transition: all 0.3s ease;
}
.button-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 0px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #21abde;
  color: white;
}
.button-header:hover, .button-header:focus {
  background-color: #1c91bb;
}
@media screen and (max-width: 414px) {
  .button-header {
    width: 90%;
    font-size: 18px;
    font-weight: 500;
  }
}
.button.basic {
  padding: 15px;
  color: black;
  background: white;
  border: 1px solid black;
}
.button.basic:hover {
  color: white;
  background: black;
}
.button.clear, .button.ice {
  padding: 25px;
  color: white;
  border: 1px solid white;
  background-color: #fff1;
}
.button.clear:hover, .button.ice:hover {
  background-color: #fff3;
}
.button.ice {
  box-shadow: inset 0 0 10px white;
}
.button.clean {
  padding: 25px;
  color: black;
  background: white;
  border: 1px solid black;
}
.button.clean:hover {
  background-color: black;
  color: white;
}

/* Defaults */
::selection {
  color: white;
  background: #21abde;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: whitesmoke;
}

main {
  min-height: calc(100vh - 60px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

form {
  margin: 20px auto;
  position: relative;
  width: 95%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px darkgrey;
  color: black;
  background-color: white;
  padding: 10px;
}
form .form-title {
  text-align: center;
  margin-bottom: 20px;
}
form input,
form select {
  border: 1px solid lightgrey;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  display: block;
  margin-top: 5px;
  width: 100%;
}
form ul {
  display: none;
}
form .helptext {
  font-size: 0.8em;
  color: darkgrey;
}
form p {
  margin-bottom: 10px;
}

.admin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px;
  box-shadow: 0 2px 5px #9e9e9e;
}
.admin-form .field-group {
  width: 100%;
  margin-top: 10px;
}
.admin-form label {
  text-transform: capitalize;
  font-weight: 500;
}
.admin-form input,
.admin-form select {
  border: none;
  padding: 7px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.1s ease;
  outline: none;
}
.admin-form input:hover,
.admin-form select:hover {
  border-color: darkgrey;
}
.admin-form input:focus,
.admin-form select:focus {
  border-color: #21abde;
}
.admin-form small {
  color: grey;
  width: 100%;
}
.admin-form p {
  width: 100%;
}
.admin-form button {
  margin: 20px 0 0;
  width: 50%;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #21abde;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.admin-form button:hover, .admin-form button:focus {
  background-color: #1c91bb;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: whitesmoke;
  padding: 20px;
  border-top: 1px solid lightgrey;
  background: white;
}
.footer img {
  height: 100px;
}
.footer-body {
  width: 95%;
  max-width: 800px;
}
.footer-description {
  color: #525252;
  margin-top: 20px;
  text-align: justify;
}
.footer-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  font-weight: 500;
}
@media screen and (max-width: 750px) {
  .footer-contact {
    grid-template-columns: auto;
    text-align: center;
  }
  .footer-contact a {
    display: inline-block;
    margin-top: 5px;
  }
}
.footer-contact span {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  margin: 20px 0;
}
.footer-social i {
  font-size: 29px;
  color: darkgrey;
  margin: 0 20px;
}
.footer-social i:hover {
  color: #34a3a3;
}
.footer a {
  color: #34a3a3;
  font-weight: 400;
  transition: color 0.2s ease;
}
.footer a:hover {
  color: #287c7c;
  text-decoration: underline;
}
.footer i {
  transition: color 0.2s ease;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  background: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 60px;
  width: 100%;
  box-shadow: none;
  position: fixed;
  z-index: 999;
}
@media screen and (max-width: 700px) {
  .navbar {
    justify-content: center;
  }
}
.navbar .nav-logo {
  margin-left: 50px;
}
.navbar .nav-logo img {
  height: 60px;
}
.navbar .nav-logo.text-logo {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
@media screen and (max-width: 700px) {
  .navbar .nav-logo {
    margin: 0;
  }
}
.navbar .nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  margin-right: 30px;
}
@media screen and (max-width: 700px) {
  .navbar .nav-links {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 60px;
    background-color: black;
    z-index: 0;
    box-shadow: none;
    transition: transform 0.3s ease;
    padding-bottom: 200px;
    opacity: 0;
    transform: scale(0);
  }
}
.navbar .nav-links li > * {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-color: initial;
  transition: color 0.2s ease;
}
@media screen and (max-width: 700px) {
  .navbar .nav-links li > * {
    margin: 20px;
    font-size: 30px;
  }
}
.navbar .nav-links a:hover {
  color: #21abde;
}
@media screen and (max-width: 700px) {
  .navbar .nav-links a:hover {
    color: #21abde;
  }
}
.navbar .hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 700px) {
  .navbar .hamburger {
    display: flex;
  }
}
.navbar .hamburger .hamburger-background {
  height: 90%;
  width: 90%;
  background-color: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.navbar .hamburger .hamburger-background:hover {
  background-color: #0e0b0b30;
}
.navbar .hamburger .hamburger-background .hamburger-line {
  height: 3px;
  width: 30px;
  position: relative;
  background: white;
  transition: all 0.3s ease;
  border-radius: 100vh;
}
.navbar .hamburger .hamburger-background .hamburger-line::before, .navbar .hamburger .hamburger-background .hamburger-line::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  top: -10px;
  right: 0;
  background: white;
  transition: all 0.3s ease;
  border-radius: 100vh;
}
.navbar .hamburger .hamburger-background .hamburger-line::after {
  top: 10px;
}
.navbar .toggle {
  display: none;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  opacity: 0;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .navbar .toggle {
    display: block;
  }
}
.navbar .toggle:checked + .hamburger .hamburger-line {
  transform: rotate(135deg);
}
.navbar .toggle:checked + .hamburger .hamburger-line::before, .navbar .toggle:checked + .hamburger .hamburger-line::after {
  top: 0;
  transform: rotate(90deg);
}
.navbar .toggle:checked ~ .nav-links {
  display: flex;
  opacity: 1;
  transform: scale(1);
}
.navbar .toggle:hover + .hamburger .hamburger-background {
  background-color: #0e0b0b30;
}

header {
  height: 60px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin-left: 50px;
}
.breadcrumbs * {
  font-weight: 300;
  font-size: 20px;
  margin: 15px 0 0;
}
@media screen and (max-width: 500px) {
  .breadcrumbs {
    margin: 0;
    justify-content: center;
  }
}
.breadcrumbs li + li:before {
  padding: 8px;
  content: "/ ";
}
.breadcrumbs a {
  color: #21abde;
  transition: all 0.2s ease;
  border: 1px solid white;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 3px #21abde;
}
.breadcrumbs a:hover {
  border: 1px solid #21abde;
  background-color: #21abde;
  color: white;
  box-shadow: unset;
}
.breadcrumbs a.back::before {
  content: "< ";
}
.breadcrumbs p {
  display: inline;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.index-list {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 20px auto 0px;
  padding: 10px;
  width: 90%;
  max-width: 600px;
  background: white;
}
.index-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding: 0 0 10px 0;
}
.index-list .header h2 {
  font-size: 2em;
}
.index-list .header a {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #00a706;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.index-list .header a:hover {
  background-color: #008e05;
}
.index-list-table .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.index-list-table .data:not(:last-child) {
  width: 100px;
  text-align: center;
  flex: 1;
}
.index-list-table .data:last-child {
  width: 80px;
}
.index-list-table .thead .row {
  border-bottom: 1px solid darkgrey;
  height: 30px;
  font-size: 1.1em;
}
.index-list-table .tbody .row {
  height: 50px;
}
.index-list-table .tbody .row:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}
.index-list-table .tbody .data a {
  color: #21abde;
}
.index-list-table .tbody .data a:hover {
  border-bottom: 1px solid #21abde;
}
.index-list-table .tbody .buttons {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.index-list-table .tbody .buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  transition: color 0.2s ease;
}
.index-list-table .tbody .buttons a.edit {
  color: #ffc400;
  font-size: 20px;
}
.index-list-table .tbody .buttons a.edit:hover {
  color: #cc9d00;
}
.index-list-table .tbody .buttons a.delete {
  color: red;
  font-size: 23px;
}
.index-list-table .tbody .buttons a.delete:hover {
  color: #cc0000;
}

/* Common Elements */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.flex {
  display: center;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.flex-top {
  display: center;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.flex-bottom {
  display: center;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
}
.flex-around {
  display: space-around;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.flex-around-top {
  display: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.flex-around-bottom {
  display: space-around;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
}
.flex-between {
  display: space-between;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.flex-between-top {
  display: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.flex-between-bottom {
  display: space-between;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
}
.flex-left {
  display: flex-start;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.flex-left-top {
  display: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.flex-left-bottom {
  display: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
}
.flex-right {
  display: flex-end;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.flex-right-top {
  display: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.flex-right-bottom {
  display: flex-end;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
}
.flex-wrap {
  display: center;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-top {
  display: center;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-bottom {
  display: center;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-around {
  display: space-around;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-around-top {
  display: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-around-bottom {
  display: space-around;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-between {
  display: space-between;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-between-top {
  display: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-between-bottom {
  display: space-between;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-left {
  display: flex-start;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-left-top {
  display: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-left-bottom {
  display: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-right {
  display: flex-end;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-right-top {
  display: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.flex-wrap-right-bottom {
  display: flex-end;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
}
.flex-reverse-wrap {
  display: center;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-top {
  display: center;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-bottom {
  display: center;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-around {
  display: space-around;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-around-top {
  display: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-around-bottom {
  display: space-around;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-between {
  display: space-between;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-between-top {
  display: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-between-bottom {
  display: space-between;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-left {
  display: flex-start;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-left-top {
  display: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-left-bottom {
  display: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-right {
  display: flex-end;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-right-top {
  display: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-reverse-wrap-right-bottom {
  display: flex-end;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row-reverse wrap;
}
.flex-column {
  display: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.flex-column-left {
  display: center;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.flex-column-right {
  display: center;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}
.flex-column-around {
  display: space-around;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.flex-column-around-left {
  display: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.flex-column-around-right {
  display: space-around;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}
.flex-column-between {
  display: space-between;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.flex-column-between-left {
  display: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.flex-column-between-right {
  display: space-between;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}
.flex-column-top {
  display: flex-start;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.flex-column-top-left {
  display: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.flex-column-top-right {
  display: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}
.flex-column-bottom {
  display: flex-end;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.flex-column-bottom-left {
  display: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.flex-column-bottom-right {
  display: flex-end;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}
.flex-column-reverse {
  display: center;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-left {
  display: center;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-right {
  display: center;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-around {
  display: space-around;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-around-left {
  display: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-around-right {
  display: space-around;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-between {
  display: space-between;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-between-left {
  display: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-between-right {
  display: space-between;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-top {
  display: flex-start;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-top-left {
  display: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-top-right {
  display: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-bottom {
  display: flex-end;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-bottom-left {
  display: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column-reverse;
}
.flex-column-reverse-bottom-right {
  display: flex-end;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column-reverse;
}

.icon {
  color: black;
  font-size: 25px;
  transition: all 0.2s ease;
  padding: 2px;
}
.icon.title {
  color: black;
}
.icon.instagram:hover {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon.facebook:hover {
  color: #4267b2;
}
.icon.tripadvisor:hover {
  color: #34e0a1;
}
.icon.yelp:hover {
  color: #d32222;
}

.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0000;
}
.overlay:hover::after {
  background-color: #0000;
}
.overlay > * {
  z-index: 1;
}
.overlay-hover {
  position: relative;
}
.overlay-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0000;
}
.overlay-hover:hover::after {
  background-color: #0003;
}
.overlay-hover > * {
  z-index: 1;
}
.overlay-light {
  position: relative;
}
.overlay-light::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff3;
}
.overlay-light:hover::after {
  background-color: #fff3;
}
.overlay-light > * {
  z-index: 1;
}
.overlay-light-hover {
  position: relative;
}
.overlay-light-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff3;
}
.overlay-light-hover:hover::after {
  background-color: #fff5;
}
.overlay-light-hover > * {
  z-index: 1;
}
.overlay-lighter {
  position: relative;
}
.overlay-lighter::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff5;
}
.overlay-lighter:hover::after {
  background-color: #fff5;
}
.overlay-lighter > * {
  z-index: 1;
}
.overlay-lighter-hover {
  position: relative;
}
.overlay-lighter-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff5;
}
.overlay-lighter-hover:hover::after {
  background-color: #fff7;
}
.overlay-lighter-hover > * {
  z-index: 1;
}
.overlay-lightest {
  position: relative;
}
.overlay-lightest::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff7;
}
.overlay-lightest:hover::after {
  background-color: #fff7;
}
.overlay-lightest > * {
  z-index: 1;
}
.overlay-lightest-hover {
  position: relative;
}
.overlay-lightest-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff7;
}
.overlay-lightest-hover:hover::after {
  background-color: #fff9;
}
.overlay-lightest-hover > * {
  z-index: 1;
}
.overlay-superlight {
  position: relative;
}
.overlay-superlight::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff9;
}
.overlay-superlight:hover::after {
  background-color: #fff9;
}
.overlay-superlight > * {
  z-index: 1;
}
.overlay-superlight-hover {
  position: relative;
}
.overlay-superlight-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #fff9;
}
.overlay-superlight-hover:hover::after {
  background-color: #ffff;
}
.overlay-superlight-hover > * {
  z-index: 1;
}
.overlay-dark {
  position: relative;
}
.overlay-dark::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0003;
}
.overlay-dark:hover::after {
  background-color: #0003;
}
.overlay-dark > * {
  z-index: 1;
}
.overlay-dark-hover {
  position: relative;
}
.overlay-dark-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0003;
}
.overlay-dark-hover:hover::after {
  background-color: #0005;
}
.overlay-dark-hover > * {
  z-index: 1;
}
.overlay-darker {
  position: relative;
}
.overlay-darker::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0005;
}
.overlay-darker:hover::after {
  background-color: #0005;
}
.overlay-darker > * {
  z-index: 1;
}
.overlay-darker-hover {
  position: relative;
}
.overlay-darker-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0005;
}
.overlay-darker-hover:hover::after {
  background-color: #0007;
}
.overlay-darker-hover > * {
  z-index: 1;
}
.overlay-darkest {
  position: relative;
}
.overlay-darkest::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0007;
}
.overlay-darkest:hover::after {
  background-color: #0007;
}
.overlay-darkest > * {
  z-index: 1;
}
.overlay-darkest-hover {
  position: relative;
}
.overlay-darkest-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0007;
}
.overlay-darkest-hover:hover::after {
  background-color: #0009;
}
.overlay-darkest-hover > * {
  z-index: 1;
}
.overlay-superdark {
  position: relative;
}
.overlay-superdark::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0009;
}
.overlay-superdark:hover::after {
  background-color: #0009;
}
.overlay-superdark > * {
  z-index: 1;
}
.overlay-superdark-hover {
  position: relative;
}
.overlay-superdark-hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  background-color: #0009;
}
.overlay-superdark-hover:hover::after {
  background-color: #000f;
}
.overlay-superdark-hover > * {
  z-index: 1;
}

.rounded {
  border-radius: 5px;
}
.rounded-xsm {
  border-radius: 1px;
}
.rounded-sm {
  border-radius: 2px;
}
.rounded-md {
  border-radius: 10px;
}
.rounded-lg {
  border-radius: 15px;
}
.rounded-xlg {
  border-radius: 20px;
}
.rounded-max {
  border-radius: 100vh;
}

.pill {
  border-radius: 100vh;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-primary {
  color: #21abde;
}

.text-secondary {
  color: #00a706;
}

.text-mystic {
  color: #00d1e6;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-white {
  background-color: white;
}

.hvr-white {
  transition: all 0.2s ease;
}
.hvr-white:hover {
  background-color: white;
}

.shadow-white {
  box-shadow: 0 0 5px white;
}

.bg-light {
  background-color: whitesmoke;
}

.hvr-light {
  transition: all 0.2s ease;
}
.hvr-light:hover {
  background-color: whitesmoke;
}

.shadow-light {
  box-shadow: 0 0 5px whitesmoke;
}

.bg-dark {
  background-color: #1f1f1f;
}

.hvr-dark {
  transition: all 0.2s ease;
}
.hvr-dark:hover {
  background-color: #1f1f1f;
}

.shadow-dark {
  box-shadow: 0 0 5px #1f1f1f;
}

.bg-black {
  background-color: black;
}

.hvr-black {
  transition: all 0.2s ease;
}
.hvr-black:hover {
  background-color: black;
}

.shadow-black {
  box-shadow: 0 0 5px black;
}

.bg-deep {
  background-color: #0c181e;
}

.hvr-deep {
  transition: all 0.2s ease;
}
.hvr-deep:hover {
  background-color: #0c181e;
}

.shadow-deep {
  box-shadow: 0 0 5px #0c181e;
}

.bg-midnight {
  background-color: #080f13;
}

.hvr-midnight {
  transition: all 0.2s ease;
}
.hvr-midnight:hover {
  background-color: #080f13;
}

.shadow-midnight {
  box-shadow: 0 0 5px #080f13;
}

.bg-primary {
  background-color: #21abde;
}

.hvr-primary {
  transition: all 0.2s ease;
}
.hvr-primary:hover {
  background-color: #21abde;
}

.shadow-primary {
  box-shadow: 0 0 5px #21abde;
}

.bg-secondary {
  background-color: #00a706;
}

.hvr-secondary {
  transition: all 0.2s ease;
}
.hvr-secondary:hover {
  background-color: #00a706;
}

.shadow-secondary {
  box-shadow: 0 0 5px #00a706;
}

.bg-success {
  background-color: #00a706;
}

.hvr-success {
  transition: all 0.2s ease;
}
.hvr-success:hover {
  background-color: #00a706;
}

.shadow-success {
  box-shadow: 0 0 5px #00a706;
}

.bg-danger {
  background-color: #de2121;
}

.hvr-danger {
  transition: all 0.2s ease;
}
.hvr-danger:hover {
  background-color: #de2121;
}

.shadow-danger {
  box-shadow: 0 0 5px #de2121;
}

.bg-mystic {
  background-color: #00d1e6;
}

.hvr-mystic {
  transition: all 0.2s ease;
}
.hvr-mystic:hover {
  background-color: #00d1e6;
}

.shadow-mystic {
  box-shadow: 0 0 5px #00d1e6;
}

.error {
  color: red;
  text-align: center;
}

.stream * {
  transition: color 0.2s ease;
  background: all 0.2s ease;
}
.stream-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 97%;
  margin: 0 auto;
}
.stream-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  box-shadow: 0 2px 5px darkgrey;
  border-radius: 5px;
  margin: 20px auto;
  background-color: white;
}
.stream-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  transition: color 0.2s ease;
  cursor: pointer;
  color: grey;
  height: 58px;
}
.stream-nav a:hover, .stream-nav a.active {
  color: #21abde;
}
.stream-nav a i {
  transition: color 0.2s ease;
  color: grey !important;
}
.stream-nav .platforms,
.stream-nav .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.stream-nav .platforms a {
  width: 58px;
}
.stream-nav .platforms a.instagram:hover i, .stream-nav .platforms a.instagram.active i {
  background: #fd5949;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stream-nav .platforms a.twitch:hover i, .stream-nav .platforms a.twitch.active i {
  color: #6441a4 !important;
}
.stream-nav .platforms a.youtube:hover i, .stream-nav .platforms a.youtube.active i {
  color: red !important;
}
.stream-nav .categories a {
  width: 90px;
}
.stream-nav .categories a:hover {
  color: #21abde;
}
@media screen and (max-width: 414px) {
  .stream-nav .categories a {
    font-size: 0.85em;
    font-weight: 500;
    width: 70px;
  }
}
.stream-nav .divider {
  width: 1px;
  height: 40px;
  background-color: darkgrey;
}
@media screen and (max-width: 400px) {
  .stream-nav .divider {
    display: none;
  }
}
.stream-nav-primary, .stream-nav-secondary {
  margin-top: 20px;
}
.stream-nav-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  box-shadow: 0 2px 5px #a9a9a9ab;
  border-radius: 5px;
  background: white;
}
.stream-nav-primary a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.stream-nav-primary .categories a {
  width: 90px;
}
.stream-nav-primary .categories a:hover {
  color: #21abde;
}
@media screen and (max-width: 414px) {
  .stream-nav-primary .categories a {
    font-size: 0.85em;
    font-weight: 500;
    width: 70px;
  }
}
.stream-nav-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  box-shadow: 0 2px 5px #a9a9a9ab;
  border-radius: 5px;
  height: 58px;
  margin-left: 12px;
  background: white;
}
.stream-nav-secondary .time-range {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.stream-nav-secondary .time-range a {
  height: 58px;
  padding-right: 15px;
}
.stream-nav-secondary .time-range a:first-child {
  padding-left: 15px;
}
.stream-image img {
  border-radius: 100vh;
  height: 100%;
}
.stream.instagram.live img {
  animation: pulse-instagram 1.5s infinite;
}
.stream.instagram:hover .stream-title,
.stream.instagram:hover .stream-host,
.stream.instagram:hover .stream-rank {
  color: #fbad50;
}
@keyframes pulse-instagram {
  0% {
    box-shadow: 0 0 0 0 #fbad50;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(251, 173, 80, 0);
  }
}
.stream.twitch:hover .stream-title,
.stream.twitch:hover .stream-host,
.stream.twitch:hover .stream-rank {
  color: #6441A4;
}
.stream.twitch.live img {
  animation: pulse-twitch 1.5s infinite;
}
@keyframes pulse-twitch {
  0% {
    box-shadow: 0 0 0 0 #6441a4;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(100, 65, 164, 0);
  }
}
.stream.youtube:hover .stream-title,
.stream.youtube:hover .stream-host,
.stream.youtube:hover .stream-rank {
  color: red;
}
.stream.youtube.live img {
  animation: pulse-youtube 1.5s infinite;
}
@keyframes pulse-youtube {
  0% {
    box-shadow: 0 0 0 0 red;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}
.stream-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  height: 150px;
  color: black;
  padding: 10px 0;
  overflow: hidden;
}
.stream-card:hover .stream.instagram .stream-rank,
.stream-card:hover .stream.instagram .stream-title,
.stream-card:hover .stream.instagram .stream-host {
  background: #fd5949;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stream-card:hover .stream.youtube .stream-rank,
.stream-card:hover .stream.youtube .stream-title,
.stream-card:hover .stream.youtube .stream-host {
  color: red;
}
.stream-card:hover .stream.twitch .stream-rank,
.stream-card:hover .stream.twitch .stream-title,
.stream-card:hover .stream.twitch .stream-host {
  color: #6441A4;
}
.stream-card:not(:last-child) {
  border-bottom: 1px solid #8080802e;
}
.home .stream {
  color: black;
}
.home .stream-image {
  height: 55px;
  width: 55px;
}

.home table .stream {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  position: relative;
  height: 90px;
  margin-left: 20px;
}
.home table .stream-host {
  font-weight: 600;
}
.home table .stream-text {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  margin-left: 15px;
}
.home table .stream-title {
  margin-top: 2px;
  font-size: 0.9em;
}

.live-list .stream {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
  padding-right: 45px;
  font-size: 0.9em;
}
.live-list .stream:first-child {
  padding-left: 45px;
}
.live-list .stream .stream-host {
  margin-top: 5px;
}

.top-chart-hero .stream {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
}
.top-chart-hero .stream-image {
  padding: 0 21px;
}
.top-chart-hero .stream-image img {
  border-radius: 100vh;
  max-height: 400px;
  max-width: 400px;
  width: 45vw;
}
@media screen and (max-width: 800px) {
  .top-chart-hero .stream-image {
    padding: 0;
  }
}
.top-chart-hero .stream-text {
  align-self: stretch;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .top-chart-hero .stream-text {
    align-items: center;
  }
}
.top-chart-hero .stream-heading {
  font-size: 2em;
}
@media screen and (max-width: 900px) {
  .top-chart-hero .stream-heading {
    text-align: center;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px) {
  .top-chart-hero .stream-heading {
    font-size: 1.4em;
  }
}
.top-chart-hero .stream-rank {
  font-size: 5em;
  font-weight: 600;
}
.top-chart-hero .stream-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 340px;
  margin-top: 10px;
}
.top-chart-hero .stream-data-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #00000050;
  padding: 10px;
  margin: 5px;
  width: 160px;
  border-radius: 5px;
}
.top-chart-hero .stream-data-heading {
  font-weight: 400;
  margin-bottom: 10px;
}
.top-chart-hero .stream-data-result {
  font-weight: 600;
}

.top-chart-list .stream {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.top-chart-list .stream-rank {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  min-width: 60px;
  margin-left: 12px;
}
@media screen and (max-width: 414px) {
  .top-chart-list .stream-rank {
    font-size: 2.5em;
    min-width: 60px;
  }
}
.top-chart-list .stream-date {
  position: absolute;
  color: darkgrey;
  font-size: 14px;
  bottom: -25px;
}
.top-chart-list .stream-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-right: 15px;
  position: relative;
}
.top-chart-list .stream-image img {
  height: 75px;
  border-radius: 100vh;
}
@media screen and (max-width: 414px) {
  .top-chart-list .stream-image img {
    height: 80px;
  }
}
.top-chart-list .stream-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;
  align-self: stretch;
}
.top-chart-list .stream-heading {
  font-weight: 600;
}
.top-chart-list .stream-host {
  font-weight: 500;
  font-size: 1.1em;
}
.top-chart-list .stream-title {
  font-size: 1.4em;
  white-space: nowrap;
  font-weight: 600;
  margin-top: 2px;
}
.top-chart-list .stream-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
  margin-top: 8px;
}
@media screen and (max-width: 510px) {
  .top-chart-list .stream-data {
    display: block;
  }
}
.top-chart-list .stream-data-box {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-right: 16px;
}
@media screen and (max-width: 640px) {
  .top-chart-list .stream-data-box {
    flex-flow: row;
    justify-content: flex-start;
    min-width: 142px;
  }
}
.top-chart-list .stream-data-heading {
  font-weight: 400;
  margin-bottom: 5px;
  white-space: nowrap;
}
@media screen and (max-width: 640px) {
  .top-chart-list .stream-data-heading {
    margin-right: 5px;
    margin-bottom: 0;
  }
  .top-chart-list .stream-data-heading::after {
    content: ":";
  }
}
.top-chart-list .stream-data-result {
  font-weight: 600;
  white-space: nowrap;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px 10px 0;
  text-align: center;
}
.home .clean-error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59.2px;
  width: 500px;
  background-color: whitesmoke;
  border-bottom: 1px dashed;
}

.schedule {
  margin: 20px auto 40px;
  max-width: 1000px;
  width: 97%;
}
.schedule .date-filter {
  width: 100%;
}
.schedule .date-filter .carousel {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #21abde;
  position: relative;
  scrollbar-width: none;
}
.schedule .date-filter .carousel::-webkit-scrollbar {
  display: none;
}
.schedule .date-filter .carousel-wrapper {
  position: relative;
  background-color: black;
  overflow: hidden;
}
.schedule .date-filter .carousel-wrapper .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #21abde;
  box-shadow: 0 0 20px #21abde;
  transform: skew(-15deg);
  cursor: pointer;
}
.schedule .date-filter .carousel-wrapper .arrow.disabled span span {
  border-color: #ffffff90;
}
.schedule .date-filter .carousel-wrapper .arrow > span {
  display: inline-block;
  transform: skew(15deg);
}
.schedule .date-filter .carousel-wrapper .arrow > span span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: all 0.3s ease;
}
.schedule .date-filter .carousel-wrapper .arrow.left-arrow {
  left: -10px;
}
.schedule .date-filter .carousel-wrapper .arrow.left-arrow > span > span {
  transform: rotate(-135deg);
}
.schedule .date-filter .carousel-wrapper .arrow.right-arrow {
  right: -10px;
}
.schedule .date-filter .carousel-wrapper .arrow.right-arrow > span > span {
  transform: rotate(45deg);
}
.schedule .date-filter .dates {
  display: flex;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 170px;
  z-index: 0;
  position: relative;
}
.schedule .date-filter a {
  width: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 50px;
  flex-shrink: 0;
  background-color: #21abde;
  color: white;
  transform: skew(-15deg);
}
.schedule .date-filter a.active {
  font-weight: 600;
  background-color: #004a66;
}
.schedule .date-filter a:hover {
  background-color: #004a66;
}
.schedule .date-filter a span {
  transform: skew(15deg);
}
.schedule .live-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  height: 100px;
  overflow: hidden;
  box-shadow: inset 0 0 2px grey;
  scrollbar-width: none;
}
.schedule .live-list-wrapper {
  position: relative;
  background-color: white;
}
.schedule .live-list::-webkit-scrollbar {
  display: none;
}
.schedule .live-list-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  overflow-x: scroll;
  height: 100%;
  scrollbar-width: none;
}
.schedule .live-list-carousel::-webkit-scrollbar {
  display: none;
}
.schedule .live-list-carousel-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
}
.schedule .live-list-carousel-wrapper::-webkit-scrollbar {
  display: none;
}
.schedule .live-list-carousel-wrapper .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  position: absolute;
  background-color: white;
  top: calc(50% - 15px);
  border-radius: 100vh;
  border: 1px solid lightgrey;
  height: 30px;
  width: 30px;
  padding: 2px 2px 0 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
@media screen and (max-width: 414px) {
  .schedule .live-list-carousel-wrapper .arrow {
    display: none;
  }
}
.schedule .live-list-carousel-wrapper .arrow:hover {
  background-color: red;
}
.schedule .live-list-carousel-wrapper .arrow:hover span {
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.schedule .live-list-carousel-wrapper .arrow span {
  height: 10px;
  width: 10px;
  border-top: 2px solid red;
  border-right: 2px solid red;
  transition: all 0.2s ease;
}
.schedule .live-list-carousel-wrapper .arrow.left-arrow {
  left: 10px;
  transform: rotate(-135deg);
}
.schedule .live-list-carousel-wrapper .arrow.right-arrow {
  right: 10px;
  transform: rotate(45deg);
}
.schedule .live-list-carousel-wrapper .arrow.disabled {
  display: none;
}
.schedule .live-list .descriptor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 10px;
  font-weight: 700;
  font-size: 1.5em;
  height: 100%;
  box-shadow: 0 0 5px red;
  color: red;
  text-align: center;
}
.schedule .live-list .descriptor span {
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
}
.schedule-table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}
.schedule-table-wrapper {
  width: 100%;
}
.schedule-table tr {
  border-bottom: 1px dotted;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: lightgrey;
  transform: scale(1);
}
.schedule-table tr:nth-child(2n+1) {
  background: white;
}
.schedule-table tr:last-child {
  border-bottom: 1px solid lightgrey;
}
.schedule-table tr .score {
  font-weight: bold;
  position: relative;
}
.schedule-table tr .score i.fa-star {
  position: absolute;
  top: calc(50% - 8px);
  left: -22px;
  color: gold;
  margin-right: 3px;
}
.schedule-table td {
  height: 100%;
  min-width: calc(414px / 3);
}
.schedule-table td:not(:first-child) {
  text-align: center;
}

.top-chart-hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  padding: 30px 0;
  padding-top: 4%;
  padding-bottom: 9%;
  color: white;
  background: linear-gradient(135deg, #34a3a3 0%, #f23827 100%);
}
@media screen and (max-width: 600px) {
  .top-chart-hero {
    padding: 20px 0;
  }
}
.top-chart-hero-header {
  text-align: center;
  font-size: 2.5em;
}
@media screen and (max-width: 900px) {
  .top-chart-hero-header {
    font-size: 2em;
  }
}
@media screen and (max-width: 700px) {
  .top-chart-hero-header {
    font-size: 1em;
  }
}
.top-chart-hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .top-chart-hero-body {
    margin-top: 10px;
  }
}
@media screen and (max-width: 414px) {
  .top-chart-hero-body {
    margin-top: 20px;
  }
}
.top-chart-list {
  overflow: hidden;
  border-radius: 5px;
  margin: 40px auto;
  width: 95%;
  max-width: 800px;
  box-shadow: 0px 2px 5px darkgrey;
  background-color: white;
}
.top-chart-no-streams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex: 1;
}
.top-chart-no-streams .error {
  text-align: center;
  color: white;
  width: 95%;
  max-width: 800px;
}
.top-chart-no-streams .error-message, .top-chart-no-streams .error-action {
  display: block;
}
.top-chart-no-streams .error-message {
  font-weight: 600;
  font-size: 1.8em;
}
.top-chart-no-streams .error-action {
  margin-top: 10px;
  font-size: 1.3em;
}

.admin-header {
  text-align: center;
}
.admin-header h1 {
  font-size: 4em;
  margin-top: 20px;
}
@media screen and (max-width: 700px) {
  .admin-header h1 {
    font-size: 2.3em;
  }
}
.admin-dashboard {
  margin: auto;
  margin-top: 30px;
  width: 98%;
  max-width: 1655px;
  box-shadow: 0 0 2px grey;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}
.admin-dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding: 10px 20px;
  min-height: 80px;
}
@media screen and (max-width: 414px) {
  .admin-dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px 0 20px 0;
  }
}
.admin-dashboard-title {
  display: inline-block;
  font-size: 2em;
}
.admin-dashboard-filter {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: unset;
  height: 35px;
  width: unset;
  border-radius: 0;
  box-shadow: unset;
  padding: 0;
  max-width: unset;
  margin: 0;
}
@media screen and (max-width: 414px) {
  .admin-dashboard-filter {
    margin-top: 20px;
  }
}
.admin-dashboard-filter > * {
  height: 100%;
  margin: 10px;
}
.admin-dashboard-filter select {
  background-color: #272727;
  border: none;
  outline: none;
  color: #e0e0e0;
  padding: 0 5px;
  border-right: 1px solid black;
  font-size: 1em;
  border-radius: 5px;
  transition: color 0.2s ease;
}
.admin-dashboard-filter select [disabled] {
  color: grey;
}
.admin-dashboard-filter select option {
  color: white;
  background-color: #272727;
}
.admin-dashboard-filter select option[value=""] {
  color: grey;
}
.admin-dashboard-filter select:hover, .admin-dashboard-filter select:focus {
  color: #21abde;
}
.admin-dashboard-filter input {
  width: unset;
  margin: 0;
  background-color: #272727;
  box-shadow: inset 0 0 15px black;
  border: unset;
  color: #e0e0e0;
  font-weight: 400;
  border-radius: unset;
  transition: 0.2s ease;
  border-radius: 5px 0 0 5px;
}
.admin-dashboard-filter input::-webkit-input-placeholder {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: darkgrey;
}
.admin-dashboard-filter input:hover::-webkit-input-placeholder, .admin-dashboard-filter input:focus::-webkit-input-placeholder {
  color: #21abde;
}
.admin-dashboard-filter button {
  margin: 0;
  height: 100%;
  width: 50px;
  border-radius: 0 5px 5px 0;
  background-color: unset;
  color: white;
  background-color: #21abde;
}
.admin-dashboard-filter button:hover, .admin-dashboard-filter button:focus {
  background-color: #1c91bb;
}
.admin-dashboard-table {
  border-top: 1px solid black;
  border-collapse: collapse;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
}
.admin-dashboard-table-wrapper {
  overflow-x: scroll;
}
.admin-dashboard-table-wrapper::-webkit-scrollbar {
  height: 10px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.admin-dashboard-table-wrapper::-webkit-scrollbar-track, .admin-dashboard-table-wrapper::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid #0000;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.admin-dashboard-table-wrapper::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
.admin-dashboard-table-wrapper::-webkit-scrollbar-thumb {
  background-color: #dadada;
  height: 2px;
  width: 2px;
}
.admin-dashboard-table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
.admin-dashboard-table col {
  border: 1px solid #dadcde;
}
.admin-dashboard-table input[type=checkbox] {
  height: 20px;
  width: 20px;
  border-radius: 0px;
}
.admin-dashboard-table th {
  padding: 15px 20px;
  white-space: nowrap;
  text-transform: capitalize;
}
.admin-dashboard-table th:hover {
  background-color: #eceff2;
}
.admin-dashboard-table thead tr {
  background-color: #f5f7f8;
  border: 1px solid lightgrey;
}
.admin-dashboard-table tbody tr:nth-child(odd) {
  background-color: white;
}
.admin-dashboard-table tbody tr:nth-child(odd):hover {
  background-color: #f2f2f2;
}
.admin-dashboard-table tbody tr:nth-child(even) {
  background-color: #f5f6f7;
}
.admin-dashboard-table tbody tr:nth-child(even):hover {
  background-color: #dcdddd;
}
.admin-dashboard-table tbody tr:nth-child(1n) {
  border-left: 1px solid lightgrey;
}
.admin-dashboard-table tbody tr:nth-child(1n):active {
  background-color: #edf5ff;
  border-left: 1px solid #70b1ff;
}
.admin-dashboard-table td {
  padding: 10px 10px;
  text-align: center;
  white-space: nowrap;
}
.admin-detail-block {
  display: block;
  margin: auto;
  width: 95%;
  max-width: 400px;
  box-shadow: 0 2px 5px darkgrey;
  border-radius: 20px;
  padding: 10px 20px 20px;
  margin-top: 20px;
  background: white;
}
.admin-detail-block-header {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.admin-detail-block table {
  width: 100%;
}
.admin-detail-block tr {
  height: 30px;
}
.admin-detail-block th {
  text-align: right;
  white-space: nowrap;
}
.admin-detail-block td {
  width: 100%;
  padding-left: 30px;
}
.admin .error {
  color: #de2121;
  width: 90%;
  text-align: center;
}
.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.admin-login form {
  max-width: 430.337px;
  width: 95%;
}
.admin .add-streamer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.admin .add-streamer .forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row-reverse wrap;
  width: 100%;
}
@media screen and (max-width: 1141px) {
  .admin .add-streamer .forms {
    flex-direction: row;
  }
}
.admin .add-streamer form {
  max-width: 465.48px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 20px;
}
.admin .add-streamer form h2 {
  margin-bottom: 10px;
}
.admin .add-streamer #streamer-form button {
  background-color: #21abde;
}
.admin .add-streamer #streamer-form button:hover {
  background-color: #1c91bb;
}
.admin .add-streamer #schedule-form button {
  background-color: #21abde;
}
.admin .add-streamer #schedule-form button:hover {
  background: #1c91bb;
}