:root {
  /* Colors */
  --zackhub-blue: #21abde;
  
  /* Theme Colors */
  --primary: #21abde;
  --primary-superlight: #f9fdff;
  --primary-light: #00bbff;
  --primary-dark: #197ca0;
  --secondary: mediumseagreen;
  --secondary-superlight: #eefff5;
  --secondary-light: #49e790;
  --secondary-dark: seagreen;
  --danger: red;
  --danger-dark: darkred;
  --success: mediumseagreen;
  --success-light: #49e790;
  --success-dark: seagreen;
  --success-superlight: #eefff5;
  --dark: #1b1b1b;

  /* Fonts */
  --base-font: Arial;
  --display-font: var(--base-font);
  --heading-font: var(--base-font);

  /* Font Sizes */
  --base-font-size: 16px;
  --display: 80px;
  --h1: 60px;
  --h2: 36px;
  --h3: 32px;
  --h4: 28px;
  --h5: 24px;
  --h6: 22px;
  --lead: 20px;
  --small: 14px;
  --mini: 12px;

  /* Font Weights */
  --thin: 100;
  --light: 300;
  --regular: 400;
  --bold: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  font-weight: var(--regular);
}

::selection {
  background-color: default;
  color: default;
}

main {
  min-height: calc(100vh - var(--navbar-height));
}


.display {
  font-family: var(--display-font);
  font-size: var(--display);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 400;
}

h1, .h1 {font-size: var(--h1);}
h2, .h2 {font-size: var(--h2);}
h3, .h3 {font-size: var(--h3);}
h4, .h4 {font-size: var(--h4);}
h5, .h5 {font-size: var(--h5);}
h6, .h6 {font-size: var(--h6);}

.lead {
  font-size: var(--lead);
  font-weight: var(--thin);
}

.small {
  color: grey;
  font-size: var(--small);
  font-weight: var(--regular);
}
