{% load static %}

<section class="contact" id="contact">

  <!-- Header -->
  <h2>Contact</h2>

  <!-- Contact Info Container -->
  <div class="contact-info-container">

    <!-- Contact Info Box -->
    <div class="contact-info-box">

      <!-- Contact Info Column -->
      <div class="icon-column"><i class="icon far fa-envelope"></i></div>

      <!-- Contact Info Icon -->
      <div class="text">
        <p class="title">Get In Touch</p>

        <!-- Emails & Phone Number  -->
        <p class="info contact-info">
          Email:<br>
          <a target="_blank" href="mailto:info@catislandcoffeehouse.com">info@catislandcoffeehouse.com</a><br>
          <a target="_blank" href="mailto:careers@catislandcoffeehouse.com">careers@catislandcoffeehouse.com</a><br>
          <br>
          Phone: <a target="_blank" href="tel:+12282224827">+1-228-222-4827</a>
        </p>

      </div>
    </div>
    <div class="contact-info-box">
      <div class="icon-column"><i class="icon fas fa-map-marker-alt"></i></div>
      <div class="text">
        <p class="title">Find Us</p>
        <p class="info address-info">

          <!-- Address -->
          Cat Island Coffeehouse<br>
          300 East Scenic Drive<br>
          Pass Christian, MS 39571 <br><br>

          <!-- Business Hours -->
          <strong>Hours of Operation:</strong> <br>
          Mon - Sat 6:30am - 6pm<br>
          Sunday 7am - 6pm

        </p>
      </div>
    </div>

    <div class="contact-info-box">
      <div class="icon-column"><i class="icon fas fa-hashtag"></i></div>
      <div class="text">
        <p class="title">Connect</p>
        <p class="info social-info">
          Connect with us on social.<br><br>

          <!-- Social Links -->
          <a target="_blank" href="https://www.instagram.com/catislandcoffeehouse/"><i class="fab fa-instagram icon" title="Instagram"></i></a>
          <a target="_blank" href="https://www.facebook.com/CatIslandCoffeehouse/"><i class="fab fa-facebook icon" title="Facebook"></i></a>
          <a target="_blank" href="https://www.yelp.com/biz/cat-island-coffeehouse-pass-christian"><i class="fab fa-yelp icon" title="Yelp"></i></a>
          <a target="_blank" href="https://www.tripadvisor.com/Restaurant_Review-g43941-d6510392-Reviews-Cat_Island_Coffeehouse-Pass_Christian_Mississippi.html"><i class="fab fa-tripadvisor icon" title="Tripadvisor"></i></a>
          <!-- /Social Links -->

        </p>
      </div>
    </div>
  </div>
</section>