asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.11
cloudscraper==1.2.58
colorama==0.4.4
coverage==6.3.1
dj-database-url==0.5.0
Django==4.0.2
django-extensions==3.1.5
django-on-heroku==1.1.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
pprintpp==0.4.0
psycopg2-binary==2.9.3
py==1.11.0
pycountry==22.1.10
pycountry-convert==0.7.2
pyparsing==3.0.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.7.0
python-decouple==3.6
repoze.lru==0.7
requests==2.27.1
requests-toolbelt==0.9.1
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.0
tzdata==2021.5
urllib3==1.26.8
whitenoise==5.3.0