* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Settings
_____________________________________________________________________________ */

// Viewports
$mobile: 414px;
$tablet: 770px;
$tablet-wide: 935px;
$desktop-small: 1140px;

// Fonts
$title: "Crimson Text";
$title-weight: 400;
$section-title: "Work Sans", sans-serif;
$menu-links-weight: 300;
$menu-links-size: 24px;
$body: "Work Sans", sans-serif;

// Custom Colors
$bluesky: #00aff3;
$facebook: #4267B2;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$tripadvisor: #34e0a1;
$yelp: #d32222;

// Color Settings
$copyright: whitesmoke;
$footer-links: black;
$footer-links-hover: $bluesky;
$icons-title: $bluesky;
$icons: black;
$menu-background: white;
$menu-links: black;
$menu-links-hover: $bluesky;
$selection-background: #6daed3;
$selection-text: white;

// Guides
$border: 1px solid black;

/* Defaults
_____________________________________________________________________________ */

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body;
}

::selection {
    background-color: $selection-background;
    color: $selection-text;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: $title;
    font-weight: $title-weight;
}

.icon-title {
    color: $icons-title;
}

.icon {
    color: $icons;
    font-size: 25px;
    transition: all .2s ease;
    padding: 2px;
}

.fa-facebook:hover {color: $facebook}
.fa-instagram:hover {
    background: $instagram;
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-tripadvisor:hover {color: $tripadvisor}
.fa-yelp:hover {color: $yelp;}

/* Common Elements
_____________________________________________________________________________ */

.buttons-area {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    display: inline-block;
    transition: all .3s ease;
}



/* Header
_____________________________________________________________________________ */

header {
    height: 65px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: $menu-background;
    box-shadow: 0 0 3px grey;

    @media screen and (max-width: $tablet) {
        justify-content: center;
    }

    .toggle {
        display: none;

        @media screen and (max-width: $tablet) {
            display: inline-block;
            position: absolute;
            right: 20px;
            padding: 20px;
        }
    }

    .logo {
        height: 50px;
        margin-left: 50px;

        @media screen and (max-width: $tablet) {
            margin: 0;
        }
        
        @media screen and (max-width: $mobile) {
            height: 40px;
        }

        &.text {
            font-size: 40px;
            font-family: $title;
        }

        &.image img {
            height: 50px;

            @media screen and (max-width: $mobile) {
                height: 40px;
            }
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        height: 100%;
        margin-right: 40px;

        @media screen and (max-width: $tablet) {
            display: none;
        }


        a {
            display: flex;
            align-items: center;
            color: $menu-links;
            padding: 0 10px;
            font-size: $menu-links-size;
            font-weight: $menu-links-weight;
            transition: all .3s ease;
            height: 100%;

            &:hover {
                color: $menu-links-hover;
            }
        }
    }
}

/* Home
_____________________________________________________________________________ */

.hero {
    height: 91.5vh;
    background: url('../img/coffeehouse-highway-view.jpg') no-repeat;
    background-size: cover;
    background-position: 0 -90px;
    position: relative;

    @media screen and (max-width: 1205px) {
        background-position: 50% 50%;
    }
    

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #00000000;
        animation-name: overlay;
        animation-delay: 2s;
        animation-duration: 2s;
        animation-fill-mode: forwards;

        @keyframes overlay {
            from {background-color: #00000000}
            to {background-color: #00000050}
        }
    }

    .content {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        color: white; 
        height: 100%;
        width: 100%;
        padding: 0 20px 0;

        & > * {
            color: #ffffff00;
            z-index: 1;
            

            
        }
    }

    @keyframes text {
        from {
            color: #ffffff00;
            margin-bottom: 300px;
        }

        to {
            color: white;
            margin-bottom: 0;
        }
    }

    .title {
        font-size: 100px;
        line-height: 100px;
        animation: text 2s ease 2.5s forwards;
        

        @media screen and (max-width: $tablet-wide) {
            font-size: 75px;
        }

        @media screen and (max-width: 712px) {
            line-height: 1em;
            font-size: 65px;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .subtitle {
        font-size: 40px;
        animation: text 2s ease 2.5s forwards;

        @media screen and (max-width: $tablet-wide) {
            font-size: 35px;
        }

        @media screen and (max-width: 712px) {
            text-align: center;
            font-size: 30px;
        }
    }

    @keyframes mybutton {
        from {
            border: 1px solid #ffffff00;
            color: #ffffff00;
            box-shadow: inset 0 0 10px #ffffff00;
        }
        to {
            border: 1px solid white;
            color: white;
            box-shadow: inset 0 0 10px white;
        }
    }

    .button {
        margin: 125px 0 25px;
        padding: 25px 35px;
        color: #ffffff00;
        text-decoration: none;
        border: 1px solid #ffffff00;
        box-shadow: inset 0 0 10px #ffffff00;
        font-size: 24px;
        transition: .3s ease;
        animation: mybutton 1s ease 5s forwards;


        &:hover {
            background-color: #ffffff30;
        }

        @media screen and (max-width: 1068px) {
            margin: 65px 0 120px;
        }
    }

}



.home > .content {

    & > div {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    h2 {
        margin: 80px 0 20px;
        text-align: center;
        font-size: 60px;
        font-family: $section-title;
        font-weight: 200;
    }

    p {
        font-size: 20px;
        font-weight: 300;
    }

    ul {
        margin-left: 20px;
    }

    .body {
        line-height: 1.5em;
        width: 90%;
        max-width: 650px;
        margin-bottom: 20px;
    }

    .buttons-area {
        margin-bottom: 20px;
    }

    .button {
        padding: 15px;
        font-size: 18px;
        color: black;
        background-color: white;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.showcase {
    /* Maximum 4 Photos */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;


    img {
        height: 400px;
        padding: 0 20px;

        @media screen and (max-width: 1462px) {
            height: 300px;
        }

        @media screen and (max-width: $desktop-small) {
            display: none;
        }

        
    }
}

.section-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:nth-of-type(2n+2) {
        flex-flow: row-reverse;

        @media screen and (max-width: 1000px) {
            flex-flow: column-reverse;
        }
    }

    &:nth-of-type(1n+2) {

        .title {
            
            @media screen and (max-width: 1000px) {
                margin-top: 20px;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        flex-flow: column-reverse;
    }

    & > * {
        width: 50%;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    img {

        
    }

    .title {
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        margin-bottom: 20px;

        
    }

    .body {
        max-width: 90%;
        margin: auto;
    }

}

.contact-info-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;

    .contact-info-box {
        display: flex;
        height: 200px;
        width: 300px;

        .icon-column {
            height: 100%;
            padding: 5px 8px 0 0;
            width: 13%;

            .icon {
                font-size: 30px;
                color: $icons-title;
            }
        }

        .text {
            height: 100%;
            width: 87%;

            
        }

        .title {
            font-size: 30px;
            padding-bottom: 1px;
            border-bottom: 1px solid black;
            width: 100%;
        }

        .info {
            padding-top: 20px;
            font-size: 15px;
            font-weight: 400;
        }
    }
}



/* Footer
_____________________________________________________________________________ */

footer {
    border-top: 1px solid lightgrey;
}

.footer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    & > div {
        margin: 0 30px;
        height: 150px;
    }
    
    .logo img {
        height: 100%;
    }

    .menu {
        width: 320px;
        padding: 30px 20px;
        border-left: 1px solid black;
        border-right: 1px solid black;

        .nav-links {
            display: grid;
            justify-content: space-between;
            align-content: space-between;
            grid-template-columns: auto auto;
            list-style: none;
            height: 100%;
            
            a {
                color: $footer-links;
                font-size: 20px;
                font-weight: 300;
                transition: all .2s ease;

                &:hover {
                    color: $footer-links-hover;
                }
            }
        }
    }

    .newsletter {
        position: relative;
        width: 301px;
        overflow: hidden;
        
        .title {
            font-size: 26px;
            margin-bottom: 5px;
        }

        .subtitle {
            font-size: .9em;
            margin-bottom: 43px;
        }

        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        input {
            border: none;
            border-bottom: 1px solid grey;
            padding: 10px 0 2px;
            font-family: "Work Sans";
            font-size: 20px;
            font-weight: 300;
        }

        button {
            font-family: "Work Sans";
            border: 1px solid black;
            border-radius: none;
            color: black;
            background-color: #00000000;
            padding: 9px;
            margin-left: 5px;
            font-weight: 20px;
            cursor: pointer;
            transition: all .2s ease;

            &:hover {
                color: $bluesky;
                
            }
        }
    }

    .contact {
        display: none;

        .button {
            padding: 20px;
            font-size: 20px;
            border-radius: 5px;
            background-color: $bluesky;
            border: 1px solid $bluesky;
            color: white;
            transition: all .2s ease;

            &:hover {
                color: black;
                background-color: white;
                border: 1px solid black;
            }
        }

        .hours {
            margin: 5px 0 10px;
        }

        .phone,
        .email {
            display: block;
            color: black;
        }
    }
}

.subfooter {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.copyright {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 300;
    padding: 10px;
    color: black;

    a {
        font-size: .6em;
        transition: all .2s ease;
        color: black;

        &:hover {
            color: $footer-links-hover;
        }
    }
}

