:root {
  /* Colors */
  --birthday-cake: #fdffdf;
  --birthday-blue: #00b7ff;
  --primary: var(var(--birthday-blue));

  /* Fonts */
  --base-font: 'Quicksand', sans-serif;
  --display-font: 'Press Start 2P', cursive;
  --heading-font: var(--base-font);
  
  --base-font-size: 20px;
  --h1: 60px;
  --h2: 40px;
  --h3: 32px;
}

/* Globals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--base-font-size);
  font-family: 'Quicksand', sans-serif;
}

.display {
  font-family: var(--display-font);
  line-height: calc(var(--h1) * 1.4);
}

.fancy {
  font-family: var(--fancy-font);
}

h1, h2, h3, h4 h5, h6 {
  font-family: var(--heading-font);
}

h1, .h1 {font-size: var(--h1)}
h2, .h2 {font-size: var(--h2)}
h3, .h3 {font-size: var(--h3)}

a:not(.btn) {
  color: var(--birthday-blue);
}

p {
  margin-bottom: 10px;
}
/* Sections */

section {
  padding: 50px 0;
  background-size: cover;
}

.hero h1 {
  font-size: 52px;
}

#gift {
  background-color: var(--birthday-cake);
}

#gift h2 {
  color: var(--birthday-blue);
}

.gift-header img {
  width: 100%;
  height: unset;
}

/* Components */

.btn {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.btn-gift {
  color: white;
  background-color: var(--birthday-blue);
}

.btn-gift:hover {
  background-color: #007cad;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gift-card {
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  margin: 20px 0;
}



/* Utilities */

.flex {
  display: flex;
  flex-flow: wrap;
  flex-basis: 300px;
}

.flex-reverse {
  flex-flow: row-reverse;
}

.overlay {
  position: relative; 
}

.overlay > * {
  position: relative;
  z-index: 1;
}

.overlay::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0; right: 0; bottom: 0; left: 0;
}

.overlay-dark::after {
  background-color: black;
  opacity: .5;
}

.overlay-light::after {
  background-color: white;
  opacity: .9;
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

.vh-100 {min-height: 100vh}



.p-1 {padding: 10px}
.p-2 {padding: 20px}
.p-3 {padding: 30px}
.p-4 {padding: 40px}
.p-5 {padding: 50px}

.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}
.py-4 {padding: 40px 0;}
.py-5 {padding: 50px 0;}

.mb-1 {margin-bottom: 10px}
.mb-2 {margin-bottom: 20px}
.mb-3 {margin-bottom: 30px}
.mb-4 {margin-bottom: 40px}
.mb-5 {margin-bottom: 50px}

.text-center {text-align: center}
.text-white {color: white !important}
.text-black {color: black}
.text-primary {color: var(--primary)}

.bg-fixed {
  background-attachment: fixed;
}

/* Animations */
@keyframes pulsate {
 0% {transform: scale(1)}
 100% {transform: scale(1.08)}
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}